/* Fonts */
html {
    background: url("images/pattern-background-desktop.svg") no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}


body {
    font-family: "RedHatDisplay", Calibri, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

@font-face  {
    font-family: "RedHatDisplay";
    src: url("polices/static/RedHatDisplay-Bold.ttf") format("truetype");
    font-weight: 500, 700, 900;
}

p {
    color: hsl(224, 23%, 55%)
}


/* Configure the disposition of objects */

.text_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 5px solid transparent;
    width: 440px;
    height: auto;
    background-color: white;
    font-family: "RedHatDisplay" !important;
    color: hsl(223, 47%, 23%);
    
}

/* Configure the first image */

.main_pic {
    width: 450px;
    height: 230px;
    display: flex;
}

.main_pic img {
    object-fit: cover;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    margin-top: -10px;
}
/* Configure the presentation */

.main_text {
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
}

/* Text part */

.summary {
    text-align: center;
}

/* Price part */

.down_part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px 0px;
}

.icon {
    margin-left: 15px;
}

.price {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}
.price p {
    margin-top: -15px;
}

/* Payment part */

.payment {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    margin-top: 40px;
    border-radius: 15px;
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px 0px;
    box-shadow: 0px 10px 15px hsl(224, 23%, 55%) ;
}

.cancel {
    font-weight: bold;
    border-radius: 15px;
    color: hsl(224, 23%, 55%);
    padding: 15px 0px;
}
