/* Fonts */

@font-face {
    font-family: "RedHatDisplay";
    src: url("polices/RedHatDisplay-VariableFont_wght.ttf") format("ttf");
}


body {
    background-color: hsl(225, 100%, 94%);
}


/* Configure the disposition of objects */

.text_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 5px solid transparent;
    width: 440px;
    height: auto;
    background-color: white;
}

/* Configure the first image */

.hdr_img {
    box-sizing: content-box;
}

.main_pic {
    object-fit: cover;
    width: fit-content;
    height: fit-content;
    
}

/* Configure the presentation */

.main_text {
    box-sizing: border-box;
    margin: 30px 40px;
}

.summary {
    text-align: center;
    box-sizing: border-box;
    
}

.down_part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    margin-top: 40px;
}

.payment {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 15px;
    
}


